.price-name {
  font-size: 25px;
  color: rgb(94, 26, 48);
}

.price:focus {
  border: rgb(73, 238, 73) 3px solid;
  outline: none;
}
.price-text {
  
  font-size: 20px;
  padding: 5px;
}
.price-div {
  background-color: rgb(220, 241, 180);
  width: 250px;
  padding: 20px;
}
.close {
  display: inline-block;
  color: rgb(158, 158, 158);
  font-size: 15px;
  border: solid rgb(158, 158, 158) 1px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 12px;
}
.choose-price {
  text-align: center;  
  border: solid 1px rgb(78, 65, 65);
  border-radius: 20px;
  display: inline-block;
  padding: 8px 15px;
  margin-bottom: 10px;
}
.error {
  color: red;
  font-size: 20px;
}
.first-div {
  height: 45px;
}